---
title: "Games At Home"
layout: page
permalink: "/games-at-home.html"
---


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="font-weight-bold title h6 text-uppercase mb-4">不看屏幕，让孩子们的数学技能变得更加敏锐</h1>
            嘿，家长们！为了应对长时间观看屏幕带来的眼部损伤，我们改编了我们的课后数学活动，让您的孩子们在家里也能享受到乐趣。在这些活动就在下方，请将这些资源广泛地分享给身边的朋友们。
            <br />
            <h4 class="font-weight-bold spanborder text-capitalize" id="{{ category[0] | downcase }}">
                <span>{{ category[0] }}</span></h4>

            {% for post in site.categories.gamesathome %}


            {% include main-loop-card.html %}


            {% endfor %}

        </div>

        <div class="col-md-4">
            {% include sidebar-featured.html %}
        </div>

    </div>
</div>