<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://space.bilibili.com/35142354">动画</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://kidjr.net/games-at-home.html">Play at Home</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.wowthemes.net/themes/mundana-ghost/">社群</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="{{site.baseurl}}/youshi.html">导航 <i
            class="fa fa-coffee text-danger"></i></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html">关于</a>
</li>