<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html">首页</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="https://space.bilibili.com/35142354">英文动画</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://kidjr.net/PlayAtHome.html">家庭游戏</a>
</li>
<li class="nav-item">
    <a target="_blank" class="nav-link" href="{{site.baseurl}}/ziyuanku.html">资源库 <span>💼</span></a>
</li>

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/about.html">关于</a>
</li>