<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict/>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>eca3f1a278e352a937ae70c8d31ce07de2a7b06d347f8b469f4cf98142e396f4</key>
			<integer>2</integer>
		</dict>
	</dict>
</dict>
</plist>
